# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# Virtual Environments
venv/
env/
.venv/
ENV/
*.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS-specific
.DS_Store
Thumbs.db

# Supabase
.supabase/
supabase/.temp/
supabase/.output/
supabase/migrations/

# Dotenv / Secrets
.env
.env.*

# __pypackages__ for PEP 582
__pypackages__/

# PyInstaller
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Supabase Docker
docker-compose.override.yml
